﻿<lable>Division</lable>
<select 
        ng-model="division" 
        ng-change="selectDivision(division)" 
        ng-options="(division.DivisionID + ' - ' + division.Description ) for division in divisions track by division.DivisionID"></select><br /><br />

<label ng-show="subdivisions.length > 0">Subdivision</label>
<select ng-show="subdivisions.length > 0"
        ng-model="subdivision"
        ng-change="selectSubdivision(subdivision)"
        ng-options="(subdivision.SubDivisionID + ' - ' + subdivision.Description ) for subdivision in subdivisions track by subdivision.SubDivisionID"></select><br /><br />


<input ng-show="items.length > 0" type="text" ng-model="searchStr" placeholder="Filter" /> <br /><br />

<pager 
       take="take" 
       skip="skip" 
       count="count"
       ng-if="count > 0 && items.length > 0"></pager>

<table ng-if="items.length > 0">
    <thead>
        <tr>
            <td>Division ID</td>
            <td>Subdivision</td>
            <td>Item ID</td>
            <td>Desc</td>
            <td>MISC</td>
            <td>MISC2</td>
            <td>MISC3</td>
            <td>MISC4</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in items | filter: searchStr">
            <td>{{item.DivisionID}}</td>
            <td>
                <select ng-model="item.SubDivisionID" ng-change="updateItemsubdivision(item.ItemID, item.SubDivisionID)">
                    <option ng-repeat="sub in subdivisions" 
                            ng-selected="sub.SubDivisionID == item.SubDivisionID"
                            ng-value="sub.SubDivisionID" 
                            value="{{sub.SubDivisionID}}">{{sub.SubDivisionID}} {{sub.Description}}</option>
                </select>
            </td>
            <td>{{item.ItemID}}</td>
            <td><input type="text" ng-model="item.ItemDescription" ng-blur="updateItem(item.ItemID, item)" /></td>
            <td><input type="text" ng-model="item.Misc" ng-blur="updateItem(item.ItemID, item)" /></td>
            <td><input type="text" ng-model="item.Misc2" ng-blur="updateItem(item.ItemID, item)" /></td>
            <td><input type="text" ng-model="item.Misc3" ng-blur="updateItem(item.ItemID, item)" /></td>
            <td><input type="text" ng-model="item.Misc4" ng-blur="updateItem(item.ItemID, item)" /></td>
        </tr>
    </tbody>
</table>