﻿<nav ng-if="count > take">
    Page
    <select ng-model="pageID" ng-change="updatePage(pageID)">
        <option ng-repeat="page in pages" 
                ng-selected="page.id == pageID" 
                ng-value="page.id" 
                value="{{page.id}}">{{page.id + 1}}</option>
    </select>
</nav>
